* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  margin: 0 0 24px 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dba527;
}

.gotop {
  visibility: hidden;
  position: fixed;
  right: 10px;
  bottom: -80px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #00204f;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.gotop i {
  font-size: 30px;
}

@media (min-width: 992px) {
  .gotop {
    right: 50px;
    bottom: -50px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .gotop i {
    font-size: 50px;
  }
}

.gotop.show {
  visibility: visible;
  bottom: 80px;
}

@media (min-width: 992px) {
  .gotop.show {
    bottom: 50px;
  }
}

.makeToBookmark {
  position: absolute;
  right: 16px;
}

.makeToBookmark:hover .infoDetail {
  visibility: hidden;
}

@media (min-width: 992px) {
  .makeToBookmark:hover .infoDetail {
    visibility: visible;
  }
}

.makeToBookmark i {
  font-size: 50px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .makeToBookmark i {
    font-size: 60px;
  }
}

.makeToBookmark .infoDetail {
  visibility: hidden;
  position: absolute;
  width: 100px;
  top: -38px;
  right: -24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 2px;
  font-size: 11px;
  cursor: default;
}

@media (min-width: 768px) {
  .makeToBookmark .infoDetail {
    right: -18px;
    top: -40px;
    font-size: 12px;
  }
}

#loader {
  position: absolute;
  right: 50%;
  top: 360px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (min-width: 768px) {
  #loader {
    top: 520px;
  }
}

.emptyicon {
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .emptyicon {
    margin-top: 60px;
    width: 300px;
  }
}

nav {
  background-color: #00204f;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav.shownav {
  background-color: #00204f;
}

@media (min-width: 768px) {
  nav {
    height: 100px;
  }
}

nav .brand-logo {
  position: unset;
}

nav .brand-logo .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .brand-logo .wrap img {
  height: 54px;
}

@media (min-width: 768px) {
  nav .brand-logo .wrap img {
    height: 64px;
  }
}

nav #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #navigation li a {
  padding: 0;
  margin: 0 26px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav #navigation li a i {
  margin-right: 6px;
}

nav #navigation li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 100%;
  height: 4px;
  border-radius: 9px;
  background-color: #dba527;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav #navigation li:last-child a {
  margin-right: 0;
}

nav .dark-mode {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin-left: 24px;
}

@media (min-width: 768px) {
  nav .dark-mode {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

nav .dark-mode .toggle-body {
  width: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 4.5px;
  margin-left: 12px;
  cursor: pointer;
}

@media (min-width: 768px) {
  nav .dark-mode .toggle-body {
    padding: 5px;
    width: 76px;
  }
}

nav .dark-mode .toggle-body .toggle-dot {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: #dba527;
}

@media (min-width: 768px) {
  nav .dark-mode .toggle-body .toggle-dot {
    width: 24px;
    height: 24px;
  }
}

#mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-color: #00204f;
  margin: 0;
  overflow: hidden;
}

@media (min-width: 992px) {
  #mobile-nav {
    display: none;
  }
}

#mobile-nav li a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 12px 12px;
  position: relative;
  width: 100%;
}

#mobile-nav li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 100%;
  height: 4px;
  border-radius: 9px;
  background-color: #dba527;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header {
  padding: 100px 0;
  height: 100vh;
  background-color: #00204f;
  background-image: url("/src/assets/images/banner.jpg");
  background-position: bottom;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#00204f7e, #00204f);
}

header .hero {
  position: relative;
  z-index: 9;
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  header .hero {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

header .hero img {
  width: 150px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  header .hero img {
    width: 240px;
  }
}

header .hero h1 {
  margin: 0;
  letter-spacing: 10px;
  word-spacing: 24px;
  font-weight: 300;
  font-size: 28px;
}

@media (min-width: 768px) {
  header .hero h1 {
    font-size: 58px;
  }
}

header .hero p {
  font-weight: 300;
  letter-spacing: 4px;
  word-spacing: 2px;
  font-size: 12px;
}

@media (min-width: 768px) {
  header .hero p {
    letter-spacing: 8px;
    word-spacing: 5px;
    font-size: 14px;
  }
}

.banner-league {
  background-color: #bde0ff;
  text-align: center;
  padding: 100px 0 18px;
}

@media (min-width: 768px) {
  .banner-league {
    padding: 160px 0 60px;
  }
}

.banner-league svg {
  width: 150px;
}

@media (min-width: 768px) {
  .banner-league svg {
    width: 300px;
  }
}

main {
  margin-top: 32px;
  padding: 0 0 100px;
}

@media (min-width: 768px) {
  main {
    margin-top: 50px;
  }
}

main h3 {
  margin: 12px 0 21px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  main h3 {
    font-size: 28px;
  }
}

main h2 {
  font-size: 32px;
}

@media (min-width: 768px) {
  main h2 {
    font-size: 52px;
  }
}

main .standings .col {
  padding: 0;
}

@media (min-width: 576px) {
  main .standings .col {
    padding: 12px;
  }
}

main .standings .standing-cards {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #242424;
  padding: 32px 16px 16px;
  border-radius: 6px;
  margin-bottom: 22px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  main .standings .standing-cards {
    height: 620px;
  }
}

main .standings .standing-cards img {
  height: 160px;
}

@media (min-width: 576px) {
  main .standings .standing-cards img {
    height: 160px;
  }
}

main .standings .standing-cards hr {
  height: 5px;
  width: 100px;
  margin-top: 12px;
  border-radius: 50px;
  background-color: #dba527;
  border: none;
}

@media (min-width: 768px) {
  main .standings .standing-cards hr {
    margin-top: 0;
  }
}

main .standings .standing-cards .detail {
  background-color: rgba(206, 206, 206, 0);
  border-radius: 6px;
  padding: 16px;
}

main .standings .standing-cards .detail .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  padding: 6px 0;
  font-weight: 500;
}

@media (min-width: 576px) {
  main .standings .standing-cards .detail .line {
    font-size: 18px;
  }
}

main .standings .standing-cards .detail .line span {
  font-weight: 700;
}

main .standings .standing-cards .detail .line span i {
  margin-right: 8px;
}

main .standings .standing-cards .detail .line span i.fa-play {
  color: #21b121;
}

main .standings .standing-cards .detail .line span i.fa-trophy {
  color: gold;
}

main .standings .standing-cards .detail .line span i.fa-window-close {
  color: #e70101;
}

main .standings .standing-cards .detail .line span i.fa-equals {
  color: #2a77e9;
}

main .standings .standing-cards .detail .line span i.fa-coins {
  color: #caca4c;
}

main .standings .standing-cards .detail .line span i.fa-futbol {
  color: black;
}

main .matches .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 36px 16px;
  row-gap: 12px;
}

@media (min-width: 768px) {
  main .matches .wrap {
    padding: 40px 28px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
  }
}

main .matches .match-cards {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  main .matches .match-cards {
    margin-bottom: 32px;
  }
}

main .matches .match-cards h3 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

@media (min-width: 1200px) {
  main .matches .match-cards h3 {
    font-weight: 700;
    font-size: 26px;
  }
}

main .matches .match-cards img {
  width: 70%;
}

@media (min-width: 576px) {
  main .matches .match-cards img {
    width: 150px;
  }
}

main .matches .match-cards .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .matches .match-cards .center .text {
  font-size: 12px;
  font-weight: 300;
  display: none;
}

@media (min-width: 576px) {
  main .matches .match-cards .center .text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  main .matches .match-cards .center .text {
    display: block;
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  main .matches .match-cards .center .text {
    font-size: 24px;
  }
}

main .matches .match-cards .center .point {
  font-size: 33px;
  font-weight: 900;
  color: #dba527;
}

@media (min-width: 576px) {
  main .matches .match-cards .center .point {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  main .matches .match-cards .center .point {
    font-size: 34px;
  }
}

@media (min-width: 1200px) {
  main .matches .match-cards .center .point {
    font-size: 50px;
    font-weight: 900;
  }
}

main .matches .match-cards .center .point span {
  margin: 0 2px;
}

@media (min-width: 768px) {
  main .matches .match-cards .center .point span {
    margin: 0 10px;
  }
}

main .matches .match-cards .date {
  padding: 6px 0;
  background-color: rgba(202, 202, 202, 0.356);
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  main .matches .match-cards .date {
    font-size: 18px;
  }
}

main #bookmark-list {
  text-align: center;
}

footer {
  background-color: #00204f;
  color: white;
  padding: 100px 0 32px;
}

* {
  -webkit-transition: background-color 500ms ease-in-out, background-image 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, background-image 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out, background-image 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out, background-image 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

body.dark-mode {
  background-color: #242424;
  color: white;
}

body.dark-mode nav {
  background-color: #1d1d1d;
}

body.dark-mode .dark-mode .toggle-body {
  background-color: #dba527;
}

body.dark-mode .dark-mode .toggle-dot {
  background-color: white;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

@media (min-width: 768px) {
  body.dark-mode .dark-mode .toggle-dot {
    -webkit-transform: translateX(175%);
            transform: translateX(175%);
  }
}

body.dark-mode #mobile-nav {
  background-color: #1d1d1d;
}

body.dark-mode header::after {
  background-image: radial-gradient(#0000007e, #242424);
}

body.dark-mode .banner-league {
  background-color: #2a2a2a;
}

body.dark-mode .banner-league svg #path44_1_,
body.dark-mode .banner-league svg #path56 {
  fill: #fff !important;
}

body.dark-mode .standings .standing-cards {
  background-color: #2c2c2c;
  color: white;
}

body.dark-mode .standings .standing-cards .detail .line span .fa-futbol {
  color: white;
}

body.dark-mode .matches .match-cards {
  background-color: #2c2c2c;
}

body.dark-mode .matches .match-cards .date {
  background-color: #1d1d1d;
}

body.dark-mode .gotop {
  background-color: #1d1d1d;
}
/*# sourceMappingURL=style.css.map */