* {
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out,
    background-image 500ms ease-in-out;
}
body.dark-mode {
  background-color: $primaryDark;
  color: $white;

  nav {
    &.shownav {
      background-color: $secondaryDark;
    }
  }

  .dark-mode {
    .toggle-body {
      background-color: $secondary;
    }
    .toggle-dot {
      background-color: white;
      transform: translateX(150%);

      @include breakpoint(md) {
        transform: translateX(175%);
      }
    }
  }

  #mobile-nav {
    background-color: $secondaryDark;
  }

  header {
    &::after {
      background-image: radial-gradient(#0000007e, $primaryDark);
    }
  }

  .banner-league {
    background-color: rgb(42, 42, 42);

    svg {
      #path44_1_,
      #path56 {
        fill: #fff !important;
      }
    }
  }

  .standings {
    .standing-cards {
      background-color: $attrDark;

      .detail {
      }
    }
  }
}
