* {
  font-family: "Montserrat", sans-serif;
  // 300,500,700
}
html {
  scroll-behavior: smooth;
}
body {
}

h1 {
  margin: 0 0 24px 0;
}
// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
}

.gotop {
  visibility: hidden;
  position: fixed;
  right: 10px;
  bottom: -80px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $primary;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;

  i {
    font-size: 30px;
  }
  @include breakpoint(lg) {
    right: 50px;
    bottom: -50px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    i {
      font-size: 50px;
    }
  }

  &.show {
    visibility: visible;
    bottom: 80px;
    @include breakpoint(lg) {
      bottom: 50px;
    }
  }
}

.makeToBookmark {
  position: absolute;
  right: 16px;

  &:hover {
    .infoDetail {
      visibility: hidden;

      @include breakpoint(lg) {
        visibility: visible;
      }
    }
  }

  i {
    font-size: 50px;
    cursor: pointer;

    @include breakpoint(md) {
      font-size: 60px;
    }
  }

  .infoDetail {
    visibility: hidden;
    position: absolute;
    width: 100px;
    top: -38px;
    right: -24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 2px;
    font-size: 11px;
    cursor: default;

    @include breakpoint(md) {
      right: -18px;
      top: -40px;
      font-size: 12px;
    }
  }
}

#loader {
  position: absolute;
  right: 50%;
  top: 360px;
  transform: translateX(50%);

  @include breakpoint(md) {
    top: 520px;
  }
}

.emptyicon {
  width: 200px;
  text-align: center;
  margin-top: 10px;

  @include breakpoint(md) {
    margin-top: 60px;
    width: 300px;
  }
}
