* {
  font-family: "Montserrat", sans-serif;
  // 300,500,700
}
html {
  scroll-behavior: smooth;
}
body {
}

h1 {
  margin: 0 0 24px 0;
}
// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
}
