main {
  margin-top: 32px;
  padding: 0 0 100px;

  @include breakpoint(md) {
    margin-top: 50px;
  }

  h3 {
    margin: 12px 0 21px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;

    @include breakpoint(md) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 32px;
    @include breakpoint(md) {
      font-size: 52px;
    }
  }
  // standings page
  .standings {
    .col {
      padding: 0;

      @include breakpoint(sm) {
        padding: 12px;
      }
    }
    .standing-cards {
      background-color: white;
      // border: 1px solid black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      color: $primaryDark;
      padding: 32px 16px 16px;
      border-radius: 6px;
      margin-bottom: 12px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(sm) {
        height: 620px;
      }

      img {
        height: 160px;
        @include breakpoint(sm) {
          height: 160px;
        }
      }

      hr {
        height: 5px;
        width: 100px;
        margin-top: 12px;
        border-radius: 50px;
        background-color: $secondary;
        border: none;
        @include breakpoint(md) {
          margin-top: 0;
        }
      }

      .detail {
        background-color: rgba(206, 206, 206, 0);
        border-radius: 6px;
        padding: 16px;

        .line {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          padding: 6px 0;
          font-weight: 500;

          @include breakpoint(sm) {
            font-size: 18px;
          }

          span {
            font-weight: 700;
            i {
              margin-right: 8px;
              &.fa-play {
                color: rgb(33, 177, 33);
              }
              &.fa-trophy {
                color: gold;
              }
              &.fa-window-close {
                color: rgb(231, 1, 1);
              }
              &.fa-equals {
                color: rgb(42, 119, 233);
              }
              &.fa-coins {
                color: rgb(202, 202, 76);
              }
              &.fa-futbol {
                color: rgb(0, 0, 0);
              }
            }
          }
        }
      }
    }
  }
  .matches {
    .wrap {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      padding: 36px 16px;
      @include breakpoint(md) {
        padding: 40px 28px;
      }
    }
    .match-cards {
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      // height: 300px;
      overflow: hidden;
      margin-bottom: 12px;

      h3 {
        font-size: 16px;

        @include breakpoint(md) {
          font-size: 28px;
        }
      }

      & > div {
        text-align: center;
      }

      img {
        width: 70%;

        @include breakpoint(sm) {
          width: 150px;
        }
      }

      .left {
        // background-color: red;
      }
      .center {
        // background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .text {
          font-size: 12px;
          font-weight: 700;
          @include breakpoint(sm) {
            font-size: 16px;
          }
          @include breakpoint(md) {
            font-size: 20px;
          }
          @include breakpoint(md) {
            font-size: 24px;
          }
        }

        .point {
          font-size: 23px;
          font-weight: 900;
          color: $secondary;

          @include breakpoint(sm) {
            font-size: 34px;
          }
          @include breakpoint(md) {
            font-size: 44px;
          }
          @include breakpoint(xl) {
            font-size: 60px;
            font-weight: 900;
          }

          span {
            margin: 0 2px;
            @include breakpoint(md) {
              margin: 0 10px;
            }
          }
        }
      }
      .date {
        padding: 6px 0;
        background-color: $attr;
        font-size: 12px;
        @include breakpoint(md) {
          font-size: 18px;
        }
        span {
          margin: 0 8px;
        }
      }
    }
  }
}
